.body{
    margin: 50px;
    font-size: 1rem;
}

.container {
    border: 2px solid #000000;
    padding: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: fit-content;
}

.container > section {
    display: flex;
    flex-direction: column;
}

.cv_info {
    border-top: 3px solid #000000;
    padding-top: 20px;
}

.title_cv {
    font-size: 2rem;
}

.container h2 {
    color: green;
    font-size: 1.1rem;
}

.blue_color {
    color: blue;
    font-size: 1.25rem;
}
